<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- ต้องมีเพื่อให้ปลั๊กอินแจ้งเตือนทราบเมื่อเครื่องรีสตาร์ท และตั้งเวลาแจ้งเตือนใหม่ -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Android 13 ขึ้นไปต้องขอสิทธิ์แสดงการแจ้งเตือนจากผู้ใช้ ประกาศเองให้ชัดเจน
         แทนการพึ่งการ merge manifest จากปลั๊กอิน -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- จำเป็นสำหรับแจ้งเตือนตรงเวลา (exact alarm) เนื่องจากเป็นแอปแจ้งเตือนทานยาที่ต้องตรงเวลา

         Android 14 (API 34) ขึ้นไปจะไม่อนุญาตสิทธิ์นี้ให้อัตโนมัติอีกต่อไป ผู้ใช้ต้องเปิดเอง
         ที่ การตั้งค่า > แอป > PillMate > การปลุกและการช่วยเตือน แอปจึงต้องอธิบายเหตุผล
         แล้วพาผู้ใช้ไปเปิด (ดู ReminderPermissionBanner) และถอยไปใช้การปลุกแบบไม่ตรงเวลา
         ถ้าผู้ใช้ไม่เปิดให้ -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:label="Pillmate"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Receiver ที่ flutter_local_notifications ต้องใช้เพื่อแสดงการแจ้งเตือนที่ตั้งเวลาไว้ -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
        <!-- Receiver ที่ตั้งเวลาแจ้งเตือนใหม่หลังเครื่องรีสตาร์ท -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <!-- Receiver ที่ประมวลผลปุ่ม "ทานแล้ว" / "เลื่อน" บนการแจ้งเตือน -->
        <receiver android:exported="false" android:name="com.dexterous.flutterlocalnotifications.ActionBroadcastReceiver" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
